<template>
  <div>
  <b-navbar
    fixed="top"
    class="navbar-dark bg-dark"
    >
    <b-navbar-brand>TechWatch</b-navbar-brand>
    <b-collapse is-nav>
      <b-navbar-nav>
        <b-nav-item href="/">All Articles</b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
  </div>
</template>